<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>PlayerCTL Web Interface</title>
        <link rel="stylesheet" href="/static/css/styles.css" />
    </head>
    <body>
        <div id="interaction-warning" style="color: orange; font-size: 0.8rem; margin-top: 10px; display: none;">
            Please interact with the page once to enable media controls
        </div>
        <div class="container">
            <h1>PlayerCTL Web Interface</h1>
            <select id="playerSelect">
                {% for player in players %}
                <option value="{{ player }}">{{ player }}</option>
                {% endfor %}
            </select>
            <img id="thumb" style="display:none;" />
            <div>
                <button onclick="sendCommand('previous')">Previous</button>
                <button onclick="sendCommand('play-pause')">Play/Pause</button>
                <button onclick="sendCommand('next')">Next</button>
            </div>
            <div id="status"></div>
            <div id="metadata"></div>
            <div class="slider-container">
                <label for="volumeSlider">Volume:</label>
                <input
                        type="range"
                        id="volumeSlider"
                        min="0"
                        max="1"
                        step="0.01"
                        value="0.5"
                        />
            </div>
            <div class="seek-buttons">
                <button onclick="seek('-30')">-30s</button>
                <button onclick="seek('-5')">-5s</button>
                <button onclick="seek('5')">+5s</button>
                <button onclick="seek('30')">+30s</button>
            </div>
            <div class="seek-container">
                <span id="currentTime">0:00</span>
                <input type="range" id="seekSlider" min="0" max="100" value="0">
                <span id="duration">0:00</span>
            </div>
            <div id="syncplayPlaylist">
                <h3>Syncplay Playlist</h3>
                <button onclick="addLinkFromClipboard()">
                    Add Link
                </button>
                <ul id="playlistItems"></ul>
            </div>
        </div>

        <audio id="silentAudio" loop preload="auto">
            <source src="{{ url_for('static', filename='audio/silent.mp3') }}" type="audio/mp3">
        </audio>

        <script src="https://cdn.jsdelivr.net/npm/sortablejs@1.14.0/Sortable.min.js"></script>
        <script src="/static/js/player.js"></script>
    </body>
</html>
